body {
    padding-top: 10px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

button.btn-link {
    color: inherit;
}

.settings {
    padding-right: 0;
}

.glyphicon-undo:before {
    font-family: 'Segoe UI Symbol';
    content: "\E10E";
}

.glyphicon-create:before {
    font-family: 'Segoe UI Symbol';
    content: "\E109";
}

.glyphicon-abort:before {
    font-family: 'Segoe UI Symbol';
    content: "\E10A";
}

.glyphicon-flip:before {
    font-family: 'Segoe UI Symbol';
    content: "\21C5";
}

.controls {
    margin: 10px;
}

.home-page-create {
    padding-left: 0;
    width: 100%;
}

.glyphicon-create {
    top: 0;
    bottom: 0;
    padding: 14.25px 0;
}

.home-page-create .glyphicon-create {
    padding: 10px;
}

.ctrl-button {
    width: 60px;
    height: 60px;
}

.board-col {
    z-index: 99;
    padding: 0;
}

ol.moves {
    font-size: 20px;
    overflow-y: auto;
    margin-bottom: 0;
    margin-left: -8px;
}

.column {
    margin: 0 7.5px;
}

nav .column {
    padding: 0;
}

.move-history {
    border: 1px solid black;
    display: grid;
    grid-template-rows: auto 80px;
    padding: 0;
}

ol.moves li span {
    margin: 0 30px;
}

input[type="radio"].toggle {
    display: none;
}

input[type="radio"].toggle + label {
    margin: 0;
    padding: 5px;
    font-weight: normal;
    margin-right: -5px;
    width: 40%;
}

input[type="radio"].toggle:hover + label {
    background: lightgrey;
}

input[type="radio"].toggle:checked + label {
    background: blue;
    color: white;
}

.bold {
    font-weight: bold;
}

.selected-piece-highlight {
    stroke-width: 0;
}

.selected + .selected-piece-highlight{
    stroke-width: .75;
}

.player-to-move {
    margin-top: 0;
    text-align: center;
}

.game-list-col {
    padding: 0;
}

.game-list {
    width: 100%;
    border: 1px solid darkgray;
    padding: 0;
}

.game-list tr {
    height: 30px;
    background-color: seashell;
}

.game-list th {
    background-color: #595959;
    color: white;
}

.game-list tr:nth-child(even) {
    background: white;
}

.game-list th,
.game-list td {
    padding: 0 30px;
}

#join {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: larger;
}

.btn-primary,
.btn-primary:visited {
    background-color: goldenrod;
    color: darkslategrey;
    border-color: darkslategrey;
}

.btn-primary:active:focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary.active,
.btn-primary.focus,
.btn-primary.hover {
    background-color: darkgoldenrod;
    color: darkslategrey;
    border-color: darkslategrey;
}

#rules div {
    padding: 0;
}