body {
    padding-top: 10px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

button.btn-link {
    color: inherit;
}

.settings {
    padding-right: 0;
}

.glyphicon-undo:before {
    font-family: 'Segoe UI Symbol';
    content: "\E10E";
}

.glyphicon-create:before {
    font-family: 'Segoe UI Symbol';
    content: "\E109";
}

.glyphicon-abort:before {
    font-family: 'Segoe UI Symbol';
    content: "\E10A";
}

.ctrl-button {
    width: 60px;
    height: 60px;
}

.board-col {
    z-index: 99;
    padding-right: 0;
}

ol.moves {
    font-size: 20px;
}

.move-history {
    overflow-y: scroll;
    border: 1px solid black;
    display: grid;
    grid-template-rows: auto 60px;
}

.controls {
    margin: 0 0 0 -15px;
}

ol.moves li span {
    margin: 0 30px;
}

input[type="radio"].toggle {
    display: none;
}

input[type="radio"].toggle + label {
    margin: 0;
    padding: 5px;
    font-weight: normal;
    margin-right: -5px;
    width: 40%;
}

input[type="radio"].toggle:hover + label {
    background: lightgrey;
}

input[type="radio"].toggle:checked + label {
    background: blue;
    color: white;
}