body {
    padding-top: 10px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

button.btn-link {
    color: inherit;
}

.settings {
    padding-right: 0;
}

.glyphicon-share-alt {
    transform: rotateY(180deg);
}

.controls {
    margin: 10px;
}

.home-page-create {
    padding-left: 0;
    width: 100%;
}

.glyphicon-plus {
    top: 0;
    bottom: 0;
    padding: 16px 0 14.25px 0;
}

.home-page-create .glyphicon-plus {
    padding: 10px;
}

.home-page-create span {
    vertical-align: middle;
}

.ctrl-button {
    width: 60px;
    height: 60px;
}

.board-col {
    z-index: 99;
    padding: 0;
}

ol.moves {
    font-size: 20px;
    overflow-y: auto;
    margin-bottom: 0;
}

.column {
    margin: 0 7.5px;
}

nav .column {
    padding: 0;
}

.move-history {
    display: grid;
    border-radius: 20px;
    background-color: whitesmoke;
    grid-template-rows: auto 80px;
    padding: 1px;
}

ol.moves li span {
    margin: 0 30px;
}

input[type="radio"].toggle {
    display: none;
}

input[type="radio"].toggle + label {
    margin: 0;
    padding: 5px;
    font-weight: normal;
    margin-right: -5px;
    width: 40%;
}

input[type="radio"].toggle:hover + label {
    background: lightgrey;
}

input[type="radio"].toggle:checked + label {
    background: #3B444B;
    color: white;
}

.bold {
    font-weight: bold;
}

.player-to-move {
    margin-top: 0;
    text-align: center;
}

.game-list-col {
    padding: 0;
}

.game-list-col div {
    height: 181px;
    overflow-y: auto;
    border: 1px solid darkgray;
}

.game-list {
    width: 100%;
    padding: 0;
}

.game-list tr {
    height: 30px;
    background-color: seashell;
}

.game-list th {
    background-color: #595959;
    color: white;
}

.game-list tr:nth-child(even) {
    background: white;
}

.game-list th,
.game-list td {
    padding: 0 30px;
}

#join {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: larger;
}

.btn-alert,
.btn-alert:visited {
    background-color: goldenrod;
    color: darkslategrey;
    border-color: darkslategrey;
}

.btn-alert:active:focus,
.btn-alert:active,
.btn-alert:focus,
.btn-alert:hover,
.btn-alert.active,
.btn-alert.focus,
.btn-alert.hover {
    background-color: darkgoldenrod;
    color: darkslategrey;
    border-color: darkslategrey;
}

#rules div {
    padding: 0;
}

#position {
    grid-template-columns: 50px auto;
    display: grid;
}

#fen-label {
    line-height: 34px;
}

.slider-group {
    margin-top: 5px;
}

.slider-group output {
    padding-top: 0;
}

.piece-col {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    margin-bottom: 10px;
    border: 5px groove black;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 7px;
    margin-right: 7px;
}

.piece-col img {
    width: 100%;
    max-height: 75px;
    max-width: 75px;
}

@media (min-width: 1200px) {
    .piece-col {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
        margin-left: 0px;
        margin-right: 15px;
    }
}

.board {
    display: grid;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

.square,
.piece {
    width: 100%;
}

.piece {
    border: 5px solid transparent;
    z-index: 99;
}

.piece.selected:not(.drag) {
    border: 5px solid goldenrod;
}

.selected-add {
    border: 5px solid goldenrod !important;
}

#copied {
    display: none;
    text-align: center;
    font-size: 18px;
    color: dimgray;
    margin: 5px;
}

#alert {
    display: none;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
    color: red;
}

.input-group-addon label {
    margin-bottom: 0;
}

.opponent-column {
    background: whitesmoke;
    border-radius: 20px;
    padding: 10px 10px 10px 20px;
}

.template-piece:focus,
.piece:focus,
.square:focus {
    border: 5px solid lightblue;
}                       