@using CheckersWebsite.Facade
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-offset-2 col-lg-6">
        @Html.Partial("~/Views/CheckersBoard.cshtml", GameController.FromVariant(Variant.AmericanCheckers))
    </div>
</div>
