@model List<(Guid ID, int TurnsCount)>

<div class="row">
    <div class="col-sm-2 column">
    </div>
    <div class="col-sm-6 column game-list-col">
        <table id="game-list">
            @foreach (var game in Model)
            {
                <tr>
                    <td><a href="~/Home/Game/@game.ID">@game.ID</a></td>
                    <td>@game.TurnsCount</td>
                </tr>
            }
        </table>
    </div>
</div>