@using CheckersWebsite.Facade
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-2" style="border: 1px solid black">
        <div><b>American Checkers</b></div>
        <div>
            <svg width="20" height="20" style="background-color: white" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="15" r="4" stroke="black" fill="white" stroke-width="2"></circle>
            </svg>
            Human
        </div>
        <div>
            <svg width="20" height="20" style="background-color: white" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="15" r="4" stroke="black" fill="black" stroke-width="2"></circle>
            </svg>
            Human
        </div>
        <div style="text-align: center">*</div>
    </div>
    <div class="col-lg-6 board-col">
        @Html.Partial("~/Views/Controls/CheckersBoard.cshtml", GameController.FromVariant(Variant.AmericanCheckers))
    </div>
    <div class="col-lg-3">
        @Html.Partial("~/Views/Controls/MoveControl.cshtml", new List<PdnTurn>
        {
            new PdnTurn(0, new PdnMove(new[]{1,2}.ToList(), "", "1-2", PieceType.Checker, false), new PdnMove(new[]{1,2}.ToList(), "", "1-2", PieceType.Checker, false)),
            new PdnTurn(1, new PdnMove(new[]{1,2}.ToList(), "", "1-2", PieceType.Checker, false), new PdnMove(new[]{1,2}.ToList(), "", "1-2", PieceType.Checker, false)),
        })
        <div class="controls">
            <button class="ctrl-button">
                <span class="glyphicon glyphicon-undo"></span>
                <span class="sr-only">Undo</span>
            </button>
            <button class="ctrl-button">
                <span class="glyphicon glyphicon-create"></span>
                <span class="sr-only">New Game</span>
            </button>
            <button class="ctrl-button hide">
                <span class="glyphicon glyphicon-abort"></span>
                <span class="sr-only">Resign</span>
            </button>
        </div>
    </div>
</div>
