<div id="rules" class="row">
    <div class="col-lg-2 column"></div>
    <div class="col-lg-6 column">
        @Html.Partial("~/Views/Rules/AmericanCheckers.cshtml")
        <hr />
        @Html.Partial("~/Views/Rules/PoolCheckers.cshtml")
    </div>
</div>