@using CheckersWebsite.Enums

<div id="rules" class="row">
    <div class="col-lg-3 column"></div>
    <div class="col-lg-6 center-col column">
        @foreach (var value in Enum.GetNames(typeof(Variant)))
        {
            @Html.Partial($"~/Views/Rules/{value}.cshtml")
            <hr />
        }
    </div>
</div>