<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CheckersWebsite</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bundle.min.css" asp-append-version="true" />
    </environment>

    <environment include="Development">
        <script src="~/lib/signalr/signalr.min.js"></script>
        <script src="~/lib/signalr/signalr-client-1.0.0-alpha2-final.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-match-height/jquery-match-height.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/dragdrop.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/signalr/signalr.min.js"></script>
        <script src="~/lib/signalr/signalr-client-1.0.0-alpha2-final.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/bundle.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
    @Html.Partial("~/Views/Modals/NewGameModal.cshtml")
    <nav class="container" style="text-align: left">
        <div class="row">
            <div class="col-md-2 column"></div>
            <div class="col-md-6 column">
                <a href="/">Home</a>
                <span>|</span>
                <a asp-controller="Home" asp-action="BoardEditor">Board Editor</a>
                <span>|</span>
                <a asp-controller="Home" asp-action="Rules">Rules</a>

                <button class="pull-right btn-link settings">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="sr-only">Settings</span>
                </button>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - CheckersWebsite</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
