<div id="american-checkers">
    <h2>American Checkers</h2>
    <div>
        <h3>Moving</h3>
        <p>Checkers move forward diagonally one square.</p>
        <p>Kings move diagonally one square in any direction.</p>
    </div>
    <div>
        <h3>Capturing</h3>
        <p><em>Capturing is required in this variant.</em></p>
        <p>
            Checkers jump forward diagonally two squares; they may only jump over an opponent's piece onto a blank square and continue jumping until there are no more pieces to jump, or until they reach the king row.
        </p>
        <p>
            King jumps follow the same pattern as checkers jumps, but do not have the restriction on moving forward.
        </p>
    </div>
    <div>
        <h3>Winning</h3>
        <p>
            The game is won when the opponent has no more pieces or cannot make any more moves.
        </p>
    </div>
    <div>
        <h3>Drawing</h3>
        <p>
            The game is drawn when a position is reached for the third time in a game or neither player has advanced a checker toward the king row for 40 or more moves.
        </p>
    </div>
</div>