<div id="pool-checkers">
    <h2>Pool Checkers</h2>
    <div>
        <h3>Moving</h3>
        <p>Checkers move forward diagonally one square.</p>
        <p>Kings move diagonally one square in any direction.</p>
    </div>
    <div>
        <h3>Capturing</h3>
        <p>
            <em>Capturing is required in this variant.</em>
        </p>
        <p>
            Checkers jump diagonally two squares in any direction; they may only jump over an opponent's piece onto a blank square and continue jumping until there are no more pieces to jump. They are not crowned during a jump unless the ending square is the king row.
        </p>
        <p>
            King jumps follow the same pattern as checkers jumps, and can also make a flying jump. A flying jump in this variant allows the king to jump over any blank squares in a diagonal path, over a single opponent's piece, and and onto a blank square directly behind the jumped piece.
        </p>
    </div>
    <div>
        <h3>Winning</h3>
        <p>
            The game is won when one player has no more pieces or cannot make any more moves.
        </p>
    </div>
</div>