@using CheckersWebsite.ViewModels
@using CheckersWebsite.Resources
@model GameViewModel

@{
    var playerID = (Guid)ViewData["playerID"];
    var playerIDs = new[] { Model.BlackPlayerID, Model.WhitePlayerID };
}

<div id="chat">
    <div class="header bold">@(playerIDs.Contains(playerID) ? Resources.PlayerChat : Resources.SpectatorChat)</div>
    <div class="chat-content"></div>
    <div class="row">
        <div id="chat-form">
            <input id="message" name="message" />
            <button id="chat-send" type="submit">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>
</div>