<div><b>American Checkers</b></div>
<div>
    <svg width="20" height="20" style="background-color: white" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10" cy="15" r="4" stroke="black" fill="white" stroke-width="2"></circle>
    </svg>
    <span id="white-player-text">Human</span>
</div>
<div>
    <svg width="20" height="20" style="background-color: white" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10" cy="15" r="4" stroke="black" fill="black" stroke-width="2"></circle>
    </svg>
    <span id="black-player-text" class="bold">Human</span>
</div>
<div style="text-align: center">*</div>

<script>
    $(function () {
        let httpConnection = new signalR.HttpConnection('/opponentsHub');
        let connection = new signalR.HubConnection(httpConnection);

        connection.on('Update', function (data) {
            switch (data.toLowerCase()) {
                case "black":
                    $('#white-player-text').removeClass('bold');
                    $('#black-player-text').addClass('bold');
                    break;
                case "white":
                    $('#black-player-text').removeClass('bold');
                    $('#white-player-text').addClass('bold');
                    break;
            }
        });

        connection.start();
    });
</script>