<div><b>American Checkers</b></div>
<div>
    <svg width="20" height="20" style="background-color: white" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10" cy="15" r="4" stroke="black" fill="white" stroke-width="2"></circle>
    </svg>
    <span id="white-player-text">Human</span>
</div>
<div>
    <svg width="20" height="20" style="background-color: white" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10" cy="15" r="4" stroke="black" fill="black" stroke-width="2"></circle>
    </svg>
    <span id="black-player-text" class="bold">Human</span>
</div>
<div class="win-status" style="text-align: center">*</div>